html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      margin-bottom: 60px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
.btn-danger {
    color: #000;
    background-color: #b3041505;
    border-color: #000000;
}
.btn-success {
    color: #fff;
    background-color: #97caff;
    border-color: #97caff;
}
.text {
    color: #080808!important;
}
.btn-primary {
    color: #0a83ff;
    background-color: #007bff00;
    border-color: #007bff03;
}
.card-body {
    background-color: #6079f7;
}